<div class="modal-body" ng-controller="OrderInfoPopupCtrl">
    <tabset justified="true" class="tab-container">
        <tab heading="订单信息">
            <div name="orderInfoForm" class="form-horizontal" novalidate>
                <div class="form-group">
                    <div class="row">
                        <label for="orderNo" class="col-sm-2 control-label">用户：</label>
                        <div class="col-sm-2">
                            <ui-select ng-model="transData.userInfoPkid" on-select="getSelected($item, $model)" theme="bootstrap" required>
                                <ui-select-match>{{$select.selected.fatherName}}</ui-select-match>
                                <ui-select-choices repeat="userInfo.userInfoPkid as userInfo  in userList | filter: $select.search">
                                    <div ng-bind-html="userInfo.customerCode + ' || ' + userInfo.fatherName +' || ' + userInfo.fatherMobile | highlight: $select.search"></div>
                                    <small>
                                        <span ng-bind-html="userInfo.motherName + ' || ' + userInfo.motherMobile"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <label for="plan" class="col-sm-2 control-label">套餐选择：</label>
                        <div class="col-sm-2">
                            <ui-select id="plan" ng-model="transData.planInfoPkid" on-select="onPlanChange($item, $model)" theme="bootstrap" required >
                                <ui-select-match>{{$select.selected.planName}}</ui-select-match>
                                <ui-select-choices repeat="planInfo.planInfoPkid as planInfo  in planInfoList | filter: $select.search">
                                    <span ng-bind-html="planInfo.planName | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <label for="orderAmount" class="col-sm-2 control-label">订单金额：</label>
                        <div class="col-sm-2">
                            <input type="text" id="orderAmount" ng-model="transData.orderAmount" required />
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="discountAmount" class="col-sm-2 control-label">折扣金额：</label>
                        <div class="col-sm-2">
                            <input type="text" id="discountAmount" ng-model="transData.discountAmount"  />
                        </div>
                        <label class="col-sm-2 control-label">折扣率：</label>
                        <div class="col-sm-2">
                            <p class="form-control-static">{{transData.discountRate | percentage}}</p>
                        </div>
                        <label class="col-sm-2 control-label">订单状态：</label>
                        <div class="col-sm-2">
                            <ui-select ng-model="transData.orderStatus" on-select="getSelected($item, $model)" theme="bootstrap"  >
                                <ui-select-match>{{$select.selected.dictOptValue}}</ui-select-match>
                                <ui-select-choices repeat="orderStatus.dictOptCode as orderStatus  in orderStatusList | filter: $select.search">
                                    <span ng-bind-html="orderStatus.dictOptValue | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-2 control-label">化妆师：</label>
                        <div class="col-sm-2">
                            <ui-select ng-model="transData.makeupCode" on-select="selectMakeUp($item, $model)" theme="bootstrap"  >
                                <ui-select-match>{{$select.selected.operatorName}}</ui-select-match>
                                <ui-select-choices repeat="employer.operatorInfoPkid as employer  in employerList | filter: $select.search">
                                    <span ng-bind-html="employer.operatorName | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <label class="col-sm-2 control-label">摄影师：</label>
                        <div class="col-sm-2">
                            <ui-select ng-model="transData.cameraCode" on-select="selectCamera($item, $model)" theme="bootstrap"  >
                                <ui-select-match>{{$select.selected.operatorName}}</ui-select-match>
                                <ui-select-choices repeat="employer.operatorInfoPkid as employer  in employerList | filter: $select.search">
                                    <span ng-bind-html="employer.operatorName | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <label class="col-sm-2 control-label">引导师：</label>
                        <div class="col-sm-2">
                            <ui-select ng-model="transData.leaderCode" on-select="selectLeader($item, $model)" theme="bootstrap"  >
                                <ui-select-match>{{$select.selected.operatorName}}</ui-select-match>
                                <ui-select-choices repeat="employer.operatorInfoPkid as employer  in employerList | filter: $select.search">
                                    <span ng-bind-html="employer.operatorName | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-2 control-label">预定拍摄日：</label>
                        <div class="col-sm-2">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="transData.dueDate" is-open="status.dueTakeDayOpened" datepicker-options="dateOptions"  close-text="关闭" current-text="今天" clear-text="清除" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openDueTakeDay($event)"><i class="glyphicon glyphicon-calendar"></i></button>\
                            </span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label">实际拍摄日：</label>
                        <div class="col-sm-2">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="transData.realDate" is-open="status.isOpened" datepicker-options="dateOptions"  close-text="关闭" current-text="今天" clear-text="清除" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>\
                            </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="收款">
            <div class="panel-heading">
                <button type="button" class="btn m-b-xs btn-sm btn-primary btn-addon" ng-click="insPaymentInfo()"><i class="fa fa-plus"></i>收款</button>
            </div>
            <div class="panel panel-default">
                <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th style="width:150px;text-align: center">收款方式</th>
                        <th style="width:150px;text-align: center">金额</th>
                        <th style="width:150px;text-align: center">收款日</th>
                        <th style="text-align: center">收款人</th>
                        <th style="width:450px;text-align: center">备注</th>
                        <th style="width:100px;text-align: center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in payList">
                        <td class="string-format">{{row.payType}}</td>
                        <td class="amount">{{row.payAmount | currency:"￥"}}</td>
                        <td class="string-fix-format">{{row.payDate | dateFormat}}</td>
                        <td class="string-format">{{row.receiver}}</td>
                        <td class="string-format" style="word-break:break-all; word-wrap:break-word;">{{row.comment}}</td>
                        <td>
                            <button type="button" ng-click="updPaymentInfo(row,$index)" class="btn btn-sm btn-icon btn-info">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button type="button" ng-click="delPaymentInfo(row)" class="btn btn-sm btn-icon btn-danger">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </tab>
    </tabset>

</div>