<div class="panel panel-default" ng-controller="OrderInfoController">
    <div class="panel-heading">
        <form class="form-inline">
            <div class="form-group">
                <label for="queryOpt"></label>
                <input type="text" id="queryOpt" ng-model="queryOpt">
            </div>
            <button class="btn btn-sm btn-success" ng-click="queryByOpt()">检索</button>
            <button class="btn btn-sm btn-info">高级检索</button>
        </form>
    </div>
    <div class="panel-body">
        <button type="button" class="btn m-b-xs btn-sm btn-primary btn-addon" ng-click="insOrderInfo()"><i
                class="fa fa-plus"></i>追加
        </button>

    </div>
    <table st-table="orderInfoList" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th style="width:12%;">订单编号</th>
            <th style="width:10%;">订单金额</th>
            <th style="width:10%;">折扣金额</th>
            <th style="width:10%;">折扣率</th>
            <th style="width:10%;">订单生成时间</th>
            <th style="width:12%;">订单状态</th>
            <th style="width:12%;">预定拍摄日</th>
            <th style="width:12%;">实际拍摄日</th>
            <th style="width:80px"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in orderInfoList">
            <td>{{row.orderNo}}</td>
            <td>{{row.orderAmount|currency:"￥"}}</td>
            <td>{{row.discountAmount | currency:"￥" }}</td>
            <td>{{row.discountRate }}</td>
            <td>{{row.orderCreateTime | dateFormat }}</td>
            <td>{{row.orderStatus }}</td>
            <td>{{row.dueDate | dateFormat}}</td>
            <td>{{row.realDate | dateFormat}}</td>
            <td>
                <div class="input-group-btn dropdown" uib-dropdown>
                    <button type="button" class="btn btn-sm btn-primary"  tabindex="-1">操作</button>
                    <button type="button" class="btn btn-sm btn-primary" uib-dropdown-toggle><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href >详细</a></li>
                        <li><a href ng-click="updOrderInfo(row)">修改</a></li>
                        <li><a href ng-click="delOrderInfo(row)">删除</a></li>
                        <li><a href ng-click="payOrder(row)">付款</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="9" class="text-center">
                <uib-pagination boundary-links="true" items-per-page="pageObj.pageSize" total-items="pageObj.totalItems" ng-change="onPageChange()" ng-model="pageObj.currentPage" class="pagination-sm m-t-none m-b" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
            </td>
        </tr>

        </tfoot>
    </table>

</div>