<div class="modal-body" ng-controller="OtherPaymentPopupCtrl">
    <div name="otherPaymentForm" class="form-horizontal" novalidate>
        <div class="form-group">
            <label for="paymentName" class="col-md-3 control-label">收支名称：</label>

            <div class="col-md-3">
                <input type="text" id="paymentName" ng-model="transData.paymentName" required />
            </div>
        </div>

        <div class="form-group">
            <label for="paymentType" class="col-md-3 control-label">收支类型：</label>
            <div class="col-md-3">
                <ui-select id="paymentType" ng-model="transData.paymentTypeCode" on-select="onPaymentTypeChange($item, $model)" theme="bootstrap" required>
                    <ui-select-match>{{$select.selected.dictOptValue}}</ui-select-match>
                    <ui-select-choices repeat="payType.dictOptCode as payType  in payTypeList | filter: $select.search">
                        <span ng-bind-html="payType.dictOptValue | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="form-group">
            <label for="amount" class="col-md-3 control-label">金额：</label>

            <div class="col-md-3">
                <input type="text" id="amount" ng-model="transData.amount" required />
            </div>
        </div>

        <div class="form-group">
            <label for="handler" class="col-md-3 control-label">经办：</label>

            <div class="col-md-3">

                <ui-select id="handler" ng-model="transData.operatorInfoPkid" on-select="onHandlerChange($item, $model)" theme="bootstrap"  required>
                    <ui-select-match>{{$select.selected.operatorName}}</ui-select-match>
                    <ui-select-choices repeat="operator.operatorInfoPkid as operator  in operatorList | filter: $select.search">
                        <span ng-bind-html="operator.operatorName | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="form-group">
            <label for="payDate" class="col-md-3 control-label">日期：</label>

            <div class="col-md-3">

                <p class="input-group" required>
                    <input type="text" id="payDate" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                           ng-model="transData.payDate" is-open="status.payDateOpen" datepicker-options="dateOptions"
                           close-text="关闭" current-text="今天" clear-text="清除" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openPayDate($event)"><i
                                        class="glyphicon glyphicon-calendar"></i></button>\
                            </span>
                </p>

            </div>
        </div>


    </div>
</div>