<div class="modal-body" ng-controller="PayDetailPopupCtrl">
    <div name="payDetailForm" class="form-horizontal" novalidate>
        <div class="form-group">
            <label for="payAmount" class="col-md-3 control-label">客户编号：</label>

            <div class="col-md-6">
                <p class="form-control-static">{{transData.customerCode}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="payAmount" class="col-md-3 control-label">客户姓名：</label>

            <div class="col-md-6">
                <p class="form-control-static">
                    {{transData.fatherName}}&nbsp;&nbsp;&nbsp;&nbsp;{{transData.motherName}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="payAmount" class="col-md-3 control-label">账户余额：</label>

            <div class="col-md-6">
                <p class="form-control-static">{{transData.accountBalance | currency :'￥'}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="payAmount" class="col-md-3 control-label">充值金额：</label>

            <div class="col-md-6">
                <input type="text" id="payAmount" ng-model="transData.payAmount" required/>
            </div>
        </div>


        <div class="form-group">
            <label for="payDate" class="col-md-3 control-label">充值日期：</label>

            <div class="col-md-6">
                <p class="input-group">
                    <input id="payDate" type="text" init-date="dt" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                           ng-model="transData.payDate" is-open="status.isPayDateOpened" datepicker-options="dateOptions"
                           close-text="Close" current-text="今天" clear-text="清除" required />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openPayDate($event)"><i
                                        class="glyphicon glyphicon-calendar"></i></button>\
                            </span>
                </p>
            </div>
        </div>


    </div>
</div>