<div class="modal-body" ng-controller="PaymentInfoPopupCtrl">
    <div name="paymentInfoForm" class="form-horizontal" novalidate>
        <div class="form-group">
            <label for="payType" class="col-md-3 control-label">收款方式：</label>
            <div class="col-md-3">
                <ui-select id="payType" ng-model="transData.payTypeCode" on-select="selectPayType($item, $model)" theme="bootstrap"  required>
                    <ui-select-match>{{$select.selected.dictOptValue}}</ui-select-match>
                    <ui-select-choices repeat="payType.dictOptCode as payType  in payTypeList | filter: $select.search">
                        <span ng-bind-html="payType.dictOptValue | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <label for="payAmount" class="col-md-3 control-label">收款金额：</label>
            <div class="col-md-3">
                <input type="text" id="payAmount" ng-model="transData.payAmount" required />
            </div>
        </div>
        <div class="form-group">
            <label for="payDate" class="col-md-3 control-label">收款日：</label>
            <div class="col-md-3">
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="transData.payDate" is-open="status.payDateOpen" datepicker-options="dateOptions"  close-text="关闭" current-text="今天" clear-text="清除" required />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="setPayDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>\
                            </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="payDate" class="col-md-3 control-label">收款人：</label>
            <div class="col-md-3">
                <ui-select ng-model="transData.receiverCode" on-select="selectReceiver($item, $model)" theme="bootstrap"  >
                    <ui-select-match>{{$select.selected.operatorName}}</ui-select-match>
                    <ui-select-choices repeat="employer.operatorInfoPkid as employer  in employerList | filter: $select.search">
                        <span ng-bind-html="employer.operatorName | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <label for="comment" class="col-md-3 control-label">备注：</label>
            <div class="col-md-3">
                <textarea ng-model="transData.comment" id="comment" style="width: 440px;height: 140px;"></textarea>
            </div>
        </div>

    </div>
</div>