<div class="modal-body" ng-controller="ProductInfoPopupCtrl">
    <div name="productInfoForm" class="form-horizontal" novalidate>
        
        
        <div class="form-group">
            <label for="productInfoPkid" class="col-md-3 control-label">产品信息表主键ID：</label>
            <div class="col-md-6">
                <input type="text" id="productInfoPkid" ng-model="transData.productInfoPkid" />
            </div>
        </div>
        
        <div class="form-group">
            <label for="productName" class="col-md-3 control-label">产品名称：</label>
            <div class="col-md-6">
                <input type="text" id="productName" ng-model="transData.productName" />
            </div>
        </div>
        
        <div class="form-group">
            <label for="primeCost" class="col-md-3 control-label">成本价：</label>
            <div class="col-md-6">
                <input type="text" id="primeCost" ng-model="transData.primeCost" />
            </div>
        </div>
        
        <div class="form-group">
            <label for="sellingPrice" class="col-md-3 control-label">售价：</label>
            <div class="col-md-6">
                <input type="text" id="sellingPrice" ng-model="transData.sellingPrice" />
            </div>
        </div>
        
        <div class="form-group">
            <label for="productDetail" class="col-md-3 control-label">产品说明：</label>
            <div class="col-md-6">
                <input type="text" id="productDetail" ng-model="transData.productDetail" />
            </div>
        </div>
        
        
    </div>
</div>