<div class="modal-body" ng-controller="RoleInfoPopupCtrl">
    <div name="roleInfoForm" class="form-horizontal" novalidate>
        <div class="form-group">
            <label for="roleName" class="col-md-3 control-label">角色名：</label>
            <div class="col-md-6">
                <input type="text" id="roleName" ng-model="transData.roleName" required />
            </div>
        </div>
        
        <div class="form-group">
            <label for="roleId" class="col-md-3 control-label">角色ID：</label>
            <div class="col-md-6">
                <input type="text" id="roleId" ng-model="transData.roleId" required />
            </div>
        </div>
        
        <div class="form-group">
            <label for="activeFlag" class="col-md-3 control-label">有效标识：</label>
            <div class="col-md-6">
                <ui-select id="activeFlag" ng-model="transData.activeFlagCode" on-select="onActiveFlagChange($item, $model)" theme="bootstrap" required>
                    <ui-select-match>{{$select.selected.dictOptValue}}</ui-select-match>
                    <ui-select-choices
                            repeat="dictOpt.dictOptCode as dictOpt  in activeFlagList | filter: $select.search">
                        <span ng-bind-html="dictOpt.dictOptValue | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <label for="functionId" class="col-md-3 control-label">访问资源：</label>
            <div class="col-md-6">
                <ui-select multiple ng-model="transData.functionList" theme="bootstrap" ng-disabled="disabled" required>
                    <ui-select-match>{{$item.functionName}}</ui-select-match>
                    <ui-select-choices repeat="functionInfo.functionInfoPkid as functionInfo in functionInfoList | filter : $select.search">
                        <div ng-bind-html="functionInfo.functionName | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
</div>