<div class="modal-body" ng-controller="SerialInfoPopupCtrl">
    <div name="serialInfoForm" class="form-horizontal" novalidate>
        <div class="form-group">
            <label for="serialFlag" class="col-md-3 control-label">序列标识：</label>
            <div class="col-md-6">
                <input type="text" id="serialFlag" ng-model="transData.serialFlag" />
            </div>
        </div>
        
        <div class="form-group">
            <label for="serialName" class="col-md-3 control-label">序列名称：</label>
            <div class="col-md-6">
                <input type="text" id="serialName" ng-model="transData.serialName" />
            </div>
        </div>
        
        <div class="form-group">
            <label for="serialValue" class="col-md-3 control-label">序列值：</label>
            <div class="col-md-6">
                <input type="text" id="serialValue" ng-model="transData.serialValue" />
            </div>
        </div>\
    </div>
</div>