<div class="panel-group" ng-controller="DictClsController">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-inline">
                <div class="form-group">
                    <input type="text"  id="dictClsInfo" ng-model="whereClause[0].content" placeholder="共通表相关信息">
                </div>
                <button class="btn btn-sm btn-success" ng-click="getDictClsByOpt()">检索</button>
                <button class="btn btn-sm btn-info">高级检索</button>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" class="btn m-b-xs btn-sm btn-primary btn-addon" ng-click="insDictCls()"><i class="fa fa-plus"></i>追加</button>
        </div>
        <div class="grid" ui-grid-pagination ui-grid="gridOptions" style="height:{{gridHeight}}px"></div>

    </div>
</div>