<div class="modal-body" ng-controller="DictOptPopupCtrl">
    <div name="dictOptForm" class="form-horizontal" novalidate>
        <div class="form-group">
            <label for="dictOptCode" class="col-md-3 control-label">字典项目编码：</label>
            <div class="col-md-6">
                <input type="text" id="dictOptCode" ng-model="transData.dictOptCode" required />
            </div>
        </div>
        
        <div class="form-group">
            <label for="dictOptValue" class="col-md-3 control-label">字典项目值：</label>
            <div class="col-md-6">
                <input type="text" id="dictOptValue" ng-model="transData.dictOptValue" required />
            </div>
        </div>
    </div>
</div>