<div class="modal-body" ng-controller="ProductImportCtrl">
    <div name="productInfoForm" class="form-horizontal" novalidate>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">
                    <ui-select ng-model="transData.platformCode" on-select="getSelected($item, $model)" theme="bootstrap" required>
                        <ui-select-match>{{$select.selected.dictOptValue}}</ui-select-match>
                        <ui-select-choices repeat="platform.dictOptCode as platform in platFormList | filter: $select.search">
                            <div ng-bind-html="platform.dictOptValue | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-sm-10">
                    <input type="url" id="productUrl"
                           ng-model="transData.productUrl" class="form-control" required/>
                </div>
            </div>
        </div>
    </div>
</div>