<div class="modal-body" ng-controller="OperatorRolePopupCtrl">
    <div name="operatorRoleForm" class="form-horizontal" novalidate>
        
        
        <div class="form-group">
            <label for="roleOperator" class="col-md-3 control-label">管理员角色对应表主键ID
                ：</label>

            <div class="col-md-6">
                <input type="text" id="roleOperator"
                       ng-model="transData.roleOperator"/>
            </div>
        </div>
        
        <div class="form-group">
            <label for="operatorInfoPkid" class="col-md-3 control-label">管理员信息表主键ID
                ：</label>

            <div class="col-md-6">
                <input type="text" id="operatorInfoPkid"
                       ng-model="transData.operatorInfoPkid"/>
            </div>
        </div>
        
        <div class="form-group">
            <label for="roleInfoPkid" class="col-md-3 control-label">角色信息表主键ID
                ：</label>

            <div class="col-md-6">
                <input type="text" id="roleInfoPkid"
                       ng-model="transData.roleInfoPkid"/>
            </div>
        </div>
        
        
    </div>
</div>