<div class="panel panel-default" ng-controller="OperatorInfoController">
    <div class="panel-heading">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" id="operatorInfo" placeholder="管理员信息" ng-model="whereClause[0].content" ng-init="whereClause[0].label=operatorInfo">
            </div>
            <button class="btn btn-sm btn-success" ng-click="simpleQuery()">检索</button>
            <button class="btn btn-sm btn-info">高级检索</button>
        </form>
    </div>
    <div class="panel-body">
        <button type="button" class="btn m-b-xs btn-sm btn-primary btn-addon" ng-click="insOperatorInfo()"><i
                class="fa fa-plus"></i>追加
        </button>
    </div>
    <table st-table="operatorInfoList" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th style="width:12%;">用户名</th>
            <th style="width:10%;">姓名</th>
            <th style="width:10%;">电话</th>
            <th style="width:10%;">可用标识</th>
            <th style="width:80px"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in operatorInfoList">
            <td>{{row.operatorCode}}</td>
            <td>{{row.operatorName}}</td>
            <td>{{row.operatorPhone }}</td>
            <td>{{row.activeFlag }}</td>
            <td>
                <button type="button" ng-click="updOperatorInfo(row)" class="btn btn-sm btn-icon btn-info">
                    <i class="fa fa-edit"></i>
                </button>
                <button type="button" ng-click="delOperatorInfo(row)" class="btn btn-sm btn-icon btn-danger">
                    <i class="fa fa-trash-o"></i>
                </button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="9" class="text-center">
                <pagination boundary-links="true" items-per-page="pageObj.pageSize" total-items="pageObj.totalItems" ng-change="onPageChange()" ng-model="pageObj.currentPage" class="pagination-sm m-t-none m-b" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
            </td>
        </tr>

        </tfoot>
    </table>
</div>
