<div class="modal-body" ng-controller="PatternInfoPopupCtrl">
    <div name="patternInfoForm" class="form-horizontal" novalidate>
        
        
        <div class="form-group">
            <label for="patternInfoPkid" class="col-md-3 control-label">商品规格信息表主键ID
                ：</label>

            <div class="col-md-6">
                <input type="text" id="patternInfoPkid"
                       ng-model="transData.patternInfoPkid"/>
            </div>
        </div>
        
        <div class="form-group">
            <label for="productInfoPkid" class="col-md-3 control-label">商品信息表主键ID
                ：</label>

            <div class="col-md-6">
                <input type="text" id="productInfoPkid"
                       ng-model="transData.productInfoPkid"/>
            </div>
        </div>
        
        <div class="form-group">
            <label for="patternName" class="col-md-3 control-label">规格名
                ：</label>

            <div class="col-md-6">
                <input type="text" id="patternName"
                       ng-model="transData.patternName"/>
            </div>
        </div>
        
        <div class="form-group">
            <label for="patternId" class="col-md-3 control-label">规格ID
                ：</label>

            <div class="col-md-6">
                <input type="text" id="patternId"
                       ng-model="transData.patternId"/>
            </div>
        </div>
        
        
    </div>
</div>