<div class="modal-body" ng-controller="RoleFunctionPopupCtrl">
    <div name="roleFunctionForm" class="form-horizontal" novalidate>
        
        
        <div class="form-group">
            <label for="roleFunctionPkid" class="col-md-3 control-label">角色功能对应表主键ID
                ：</label>

            <div class="col-md-6">
                <input type="text" id="roleFunctionPkid"
                       ng-model="transData.roleFunctionPkid"/>
            </div>
        </div>
        
        <div class="form-group">
            <label for="functionInfoPkid" class="col-md-3 control-label">功能信息表主键ID
                ：</label>

            <div class="col-md-6">
                <input type="text" id="functionInfoPkid"
                       ng-model="transData.functionInfoPkid"/>
            </div>
        </div>
        
        <div class="form-group">
            <label for="roleInfoPkid" class="col-md-3 control-label">角色信息表主键ID
                ：</label>

            <div class="col-md-6">
                <input type="text" id="roleInfoPkid"
                       ng-model="transData.roleInfoPkid"/>
            </div>
        </div>
        
        
    </div>
</div>