<div class="panel panel-default" ng-controller="ShopInfoController">
        <div class="panel-heading">
            <form class="form-inline">
                <div class="form-group">
                    <label for="queryOpt"></label>
                    <input type="text" id="queryOpt">
                </div>
                <button class="btn btn-sm btn-success">检索</button>
                <button class="btn btn-sm btn-info">高级检索</button>
            </form>
        </div>

    <div class="panel-body">
        <button type="button" class="btn m-b-xs btn-sm btn-primary btn-addon" ng-click="insShopInfo()"><i class="fa fa-plus"></i>追加</button>
    </div>
    <table st-table="planInfoList" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>店铺ID</th>
            
            <th>店铺名</th>
            
            <th>店铺URL</th>
            
            <th>综合评分</th>
            
            <th>品类丰富度</th>
            
            <th>情报量评价</th>
            
            <th>服务评价</th>
            
            <th>包装评分</th>
            
            <th>物流评分</th>
            
            <th>评论数</th>
            
            <th>邮箱地址</th>
            
            
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in shopInfoList">
            <td>{{row.sid}}</td>
            
            <td>{{row.shopName}}</td>
            
            <td>{{row.shopUrl}}</td>
            
            <td>{{row.rankValue}}</td>
            
            <td>{{row.typeRank}}</td>
            
            <td>{{row.infoRank}}</td>
            
            <td>{{row.serviceRank}}</td>
            
            <td>{{row.packageRank}}</td>
            
            <td>{{row.logisticsRank}}</td>
            
            <td>{{row.reviewCount}}</td>
            
            <td>{{row.email}}</td>
            
            
            <td>
                <button type="button" ng-click="updShopInfo(row,$index)" class="btn btn-sm btn-icon btn-info">
                    <i class="fa fa-edit"></i>
                </button>
                <button type="button" ng-click="delShopInfo(row,$index)" class="btn btn-sm btn-icon btn-danger">
                    <i class="fa fa-trash-o"></i>
                </button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="12" class="text-center">
                <uib-pagination boundary-links="true" items-per-page="pageObj.pageSize" total-items="pageObj.totalItems" ng-change="onPageChange()" ng-model="pageObj.currentPage" class="pagination-sm m-t-none m-b" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
            </td>
        </tr>

        </tfoot>
    </table>
</div>