<div class="modal-body" ng-controller="ShopProductInfoPopupCtrl">
    <div name="shopProductInfoForm" class="form-horizontal" novalidate>
        
        
        <div class="form-group">
            <label for="shopProductId" class="col-md-3 control-label">店铺商品信息表主键ID
                ：</label>

            <div class="col-md-6">
                <input type="text" id="shopProductId"
                       ng-model="transData.shopProductId"/>
            </div>
        </div>
        
        <div class="form-group">
            <label for="productInfoPkid" class="col-md-3 control-label">商品信息表主键ID
                ：</label>

            <div class="col-md-6">
                <input type="text" id="productInfoPkid"
                       ng-model="transData.productInfoPkid"/>
            </div>
        </div>
        
        <div class="form-group">
            <label for="shopInfoPkid" class="col-md-3 control-label">店铺信息表主键ID
                ：</label>

            <div class="col-md-6">
                <input type="text" id="shopInfoPkid"
                       ng-model="transData.shopInfoPkid"/>
            </div>
        </div>
        
        <div class="form-group">
            <label for="platformProductId" class="col-md-3 control-label">平台商品ID
                ：</label>

            <div class="col-md-6">
                <input type="text" id="platformProductId"
                       ng-model="transData.platformProductId"/>
            </div>
        </div>
        
        <div class="form-group">
            <label for="undercarrigeFlag" class="col-md-3 control-label">下架标识
                ：</label>

            <div class="col-md-6">
                <input type="text" id="undercarrigeFlag"
                       ng-model="transData.undercarrigeFlag"/>
            </div>
        </div>
        
        
    </div>
</div>