<div class="modal-body" ng-controller="StockProductPopupCtrl">
    <div name="stockProductForm" class="form-horizontal" novalidate>
        
        
        <div class="form-group">
            <label for="stockProductPkid" class="col-md-3 control-label">商品进货信息表主键ID
                ：</label>

            <div class="col-md-6">
                <input type="text" id="stockProductPkid"
                       ng-model="transData.stockProductPkid"/>
            </div>
        </div>
        
        <div class="form-group">
            <label for="stockInfoPkid" class="col-md-3 control-label">进货信息表主键ID
                ：</label>

            <div class="col-md-6">
                <input type="text" id="stockInfoPkid"
                       ng-model="transData.stockInfoPkid"/>
            </div>
        </div>
        
        <div class="form-group">
            <label for="stockPrice" class="col-md-3 control-label">进货单价
                ：</label>

            <div class="col-md-6">
                <input type="text" id="stockPrice"
                       ng-model="transData.stockPrice"/>
            </div>
        </div>
        
        <div class="form-group">
            <label for="stockAmount" class="col-md-3 control-label">进货数量
                ：</label>

            <div class="col-md-6">
                <input type="text" id="stockAmount"
                       ng-model="transData.stockAmount"/>
            </div>
        </div>
        
        <div class="form-group">
            <label for="stockSum" class="col-md-3 control-label">进货金额
                ：</label>

            <div class="col-md-6">
                <input type="text" id="stockSum"
                       ng-model="transData.stockSum"/>
            </div>
        </div>
        
        <div class="form-group">
            <label for="stockUrl" class="col-md-3 control-label">进货url
                ：</label>

            <div class="col-md-6">
                <input type="text" id="stockUrl"
                       ng-model="transData.stockUrl"/>
            </div>
        </div>
        
        
    </div>
</div>