<div class="panel panel-default" ng-controller="StockInfoController">
        <div class="panel-heading">
            <form class="form-inline">
                <div class="form-group">
                    <label for="queryOpt"></label>
                    <input type="text" id="queryOpt">
                </div>
                <button class="btn btn-sm btn-success">检索</button>
                <button class="btn btn-sm btn-info">高级检索</button>
            </form>
        </div>

    <div class="panel-body">
        <button type="button" class="btn m-b-xs btn-sm btn-primary btn-addon" ng-click="insStockInfo()"><i class="fa fa-plus"></i>追加</button>
    </div>
    <table st-table="planInfoList" class="table table-bordered table-striped">
        <thead>
        <tr>
            
            
            <th>进货信息表主键ID</th>
            
            <th>商品规格信息表主键ID</th>
            
            <th>进货单号</th>
            
            <th>进货日期</th>
            
            <th>快递类型编码</th>
            
            <th>快递类型名称</th>
            
            <th>快递单号</th>
            
            <th>订单状态</th>
            
            
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in stockInfoList">
            
            
            <td>{{row.stockInfoPkid}}</td>
            
            <td>{{row.patternInfoPkid}}</td>
            
            <td>{{row.stockNo}}</td>
            
            <td>{{row.stockDate}}</td>
            
            <td>{{row.expressTypeCode}}</td>
            
            <td>{{row.expressType}}</td>
            
            <td>{{row.expressNo}}</td>
            
            <td>{{row.stockStatus}}</td>
            
            
            <td>
                <button type="button" ng-click="updStockInfo(row,$index)" class="btn btn-sm btn-icon btn-info">
                    <i class="fa fa-edit"></i>
                </button>
                <button type="button" ng-click="delStockInfo(row,$index)" class="btn btn-sm btn-icon btn-danger">
                    <i class="fa fa-trash-o"></i>
                </button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="9" class="text-center">
                <uib-pagination boundary-links="true" items-per-page="pageObj.pageSize" total-items="pageObj.totalItems" ng-change="onPageChange()" ng-model="pageObj.currentPage" class="pagination-sm m-t-none m-b" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
            </td>
        </tr>

        </tfoot>
    </table>
</div>